<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" th:href="@{/styles.css}">

</head>
<body class="container">
<form method="post">
    <div class="form-group">
        <label>Username
            <input th:field = "${user.username}" class="form-control">
        </label>
        <p class="error" th:errors = "${user.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input th:field = "${user.password}" class="form-control">
        </label>
        <p class="error" th:error = "${user.password}"></p>
    </div>
    <div class="form-group">
        <label> Confirm password
            <input th:field="${user.passwordConfirm}" class="form-control">
        </label>
        <p class="error" th:error = "${user.passwordConfirm}"></p>
    </div>
    <div class="form-group">
        <input type="submit" value="Register" class="btn btn-success">
    </div>
</form>


</body>
</html>